footer.container.py-5
  .row
    .col-md-6
      nav.nav.footer.justify-content-center.justify-content-md-start
        a(href="/us").nav-link About Us
        a(href="/travels").nav-link Travels
        a(href="/testimonials").nav-link Testimonials
    .col
      p.copyright.text-center.text-md-right
        | Todos los derechos Reservados 
        span= currentYear