extends ./layouts/index

block content
  main.container.mt-5
    .row
      .col-md-5
        img(src="img/nosotros.jpg", alt="About Us", class="img-fluid")
      .col-md-7
        h1= titlePage
        blockquote  Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores odit repellendus doloremque esse architecto iusto at aut iure corrupti velit perspiciatis enim voluptates

        p Asperiores odit repellendus doloremque esse architecto iusto at aut iure corrupti velit perspiciatis enim voluptates libero autem, magnam exercitationem assumenda eligendi! Unde?

        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, magnam! Aliquid ipsa voluptatum provident, aliquam facere nemo distinctio dolorem ullam aperiam, culpa doloremque obcaecati.

  .listado-iconos
    .container.mt-5.py-5.text-center
      .row
        .col-md-4
          img(src="/img/icono_seguridad.svg", alt="Security Icon", class="img-fluid mb-4")
          h2.mb-4 Security
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, incidunt!

        .col-md-4
          img(src="/img/icono_destinos.svg", alt="Destinations Icon", class="img-fluid mb-4")
          h2.mb-4 better Destinations
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, incidunt!

        .col-md-4
          img(src="/img/icono_precios.svg", alt="Price Icon", class="img-fluid mb-4")
          h2.mb-4 Cheap Price
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt, incidunt!
